h4 {
    text-align: right;
    color: blue;
    margin: 5px 10px 0 0;
}

h4, label, input[type='checkbox'] {
    cursor: pointer;
}

p {
    height: 1rem;
}

#PP1001 {
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
}

.inp-today-task li {
    margin: 10px 0px;
}

.inp-today-task li:last-child {
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.inp-today-task input[type='submit'], input[type='reset'] {
    width: 5em;
}

.inp-today-task label {
    text-align: right;
    margin-right: 1em;      /* input(text)タグの枠線（左）が消える対応 */
    width: 8em;
    float: left;
}

input#new-task-title {
    width: 50%;
}

input#new-task-remarks {
    width: 50%;
}

#PP1001 .task-remarks {
    font-size: x-small;
    padding-left: 2em;
}

#PP1001 .task-list-block {
    margin-top: 2rem;
    height: calc(100% - 17rem);
    display: flex;
    flex-direction: column;
    flex: 1;
}

#PP1001 .TG002-list-title, .task-list {
    width: 80%;
    margin: 0 auto;
}

#PP1001 .task-list {
    overflow-y: overlay;
    height: 100%;
    background-color: lightgray;
}

#PP1001  .footer {
    height: 2rem;
}

#PP1002 {
    background-color: antiquewhite;
}