:root {
    --category-list-name-width: 20em;
    --category-list-noprocess-width: 3em;
    --category-list-processing-width: 3em;
    --category-list-finished-width: 3em;
}

#page_root {
    overflow: auto;
}

#todo_main {
    z-index: 1;
}

#PP0001 {
    z-index: 10;
}

.todo-summary-block {

}

.todo-summary-title {
    display: flex;
    flex-direction: row;
}

.todo-li-icon-close {
    background-image: url(./icons/arrow-right_64.png);
}
.todo-li-icon-open {
    background-image: url(./icons/arrow-down_64.png);
}
.trash-icon {
    background-image: url(./icons/trash_64.png);
}
.comment-fix {
    background-image: url(./icons/check_64.png);
}
.share-icon {
    background-image: url(./icons/share_64.png);
}
.edit-icon {
    background-image: url(./icons/pen_64.png);
}
.comment-fix,
.trash-icon,
.share-icon,
.edit-icon {
    display: inline-block;
    font-size: large;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.8em;
    width: 1.5em;
    height: 1em;
}
.todo-li-icon {
    font-size: large;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.5em;
    width: 1.5em;
}

.summary-title {
    flex-grow: 1;
    font-size: large;
}
.summary-date {
    padding-right: 1.5em;
    text-align: right;
    font-size: smaller;
    color: navy;
}
.summary-date1 {
}
.summary-date2 {
    margin-right: 3em;
}

.todo-item {
    /*border: 1px solid lightblue;*/
}

.todo-details-close {
    display: none;
}

.todo-detail-dody {
    margin-left: 3em;
    margin-bottom: 1em;
}

.todo-detail-dody > p {
    margin-top: 0.5em;
    background-color: lightcyan;
}

.todo-detail-ope {
    text-align: right;
}

.todo-comment-container {
}
.todo-comment-container:nth-child(n+2) {
    margin-top: 1.5em;
}
.todo-comment-source {
    display: none;
}
.todo-comment {
}

.todo-status {
}

.todo-status-label {
    margin-left: 2em;
}

.add-comment {
    margin-top: 1em;
    display: inline-block;
    padding: 0 1em;
    border: 1px solid lightgray;
    border-radius: 11px;
    background-color: lightgray;
    color: white;
    font-size: x-small;
}

.todo-tag {
    margin-left: 1em;
    padding: 0 1em;
    display: inline-block;
    color: #fff;
    border: 1px solid #fa4141;
    border-radius: 11px;
    background-color: #fa4141;
    font-size: x-small;
}

.todo-doing {
    color: deeppink;
    font-weight: bolder;
}

.todo-done {
    color:darkgray;
}

.PP0001-mode-operation {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.PP0001-add-tag,
.new-todo-label-content,
.add-todo-tag {
    margin-left: 1em;
    padding: 0 1em;
    display: inline-block;
    color: white;
    border: 1px solid lightgray;
    border-radius: 11px;
    background-color: lightgray;
    font-size: x-small;
}

#new_todo_title {
    width: 90%;
    font-size: large;
}

#new_todo_comment {
    width: 95%;
    margin-top: 0.5em;
}

.PP0001-form {
    width: 20em;
    background-color: white;
}

.PP0001-form > H3 {
    text-align: center;
    margin-bottom: 0.5em;
    background-color: #fa4141;
    color: #fff;
}

.PP0001-tag-list-container {
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
}

.PP0001-ope {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0.3em;
}

.PP0001-ope > p {
    width: 4em;
    text-align: center;
    background-color: lightgray;
    border: solid 1px lightgray;
    border-radius: 5px;
}

/*
    チェックボックスを縦方向の中央に配置する（1/2）
*/
.PP0001-tag-list-item {
    position: relative;
    line-height: 2em;
    padding-left: 1.3em;
}

/*
    チェックボックスを縦方向の中央に配置する（2/2）
*/
.PP0001-tag-list-item > input {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin:auto;
}

.popup-body {
    padding: 10px;
}

.popup-table-operation {
    height: 2em;
    text-align: right;
}

.popup-table-head > p:nth-child(1) {
    width: var(--category-list-name-width);
}

.popup-table-head > p:nth-child(2) {
    width: var(--category-list-noprocess-width);
}

.popup-table-head > p:nth-child(3) {
    width: var(--category-list-processing-width);
}

.popup-table-head > p:nth-child(4) {
    width: var(--category-list-finished-width);
}

.popup-table-body > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/**
 * カテゴリ一覧のカテゴリID
 */
.popup-table-body > ul > li > p:nth-child(1) {
    width: 0;
    display: none;
}

.popup-table-body > ul > li > p:nth-child(2) {
    flex-grow: 1;
}

.popup-table-body > ul > li > p:nth-child(3) {
    width: var(--category-list-noprocess-width);
    text-align: right;
}

.popup-table-body > ul > li > p:nth-child(4) {
    width: var(--category-list-processing-width);
    text-align: right;
}

.popup-table-body > ul > li > p:nth-child(5) {
    width: var(--category-list-finished-width);
    text-align: right;
}

.PP0002-form {
    width: 20em;
    background-color: white;
}

.PP0002-dialog-title {
    text-align: center;
    margin-bottom: 0.5em;
    background-color: #fa4141;
    color: #fff;
}

.PP0002-input-wrapper {
    text-align: center;
}

.PP0002-content-string {
    width: 90%;
    border: 1px solid;
    border-radius: 4px;
    padding: 3px;
}

.PP0002-button-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.PP0002-button-wrapper > input {
    flex-basis: 4em;
}
