#page_root {
    overflow: auto;
}

summary {
    font-size: large;
}

.todo-item {
    /*border: 1px solid lightblue;*/
}

.todo-detail-dody {
    margin-left: 3em;
    margin-bottom: 1em;
}

.todo-detail-dody > p {
    margin-top: 0.5em;
    background-color: lightcyan;
}

.todo-detail-ope {
    text-align: right;
}

.todo-comment {
}

.add-comment {
    margin-top: 1em;
    display: inline-block;
    padding: 0 1em;
    border: 1px solid lightgray;
    border-radius: 11px;
    background-color: lightgray;
    color: white;
    font-size: x-small;
}

.todo-tag {
    margin-left: 1em;
    padding: 0 1em;
    display: inline-block;
    color: #fff;
    border: 1px solid #fa4141;
    border-radius: 11px;
    background-color: #fa4141;
    font-size: x-small;
}

.new-todo-label-content,
.add-todo-tag {
    margin-left: 1em;
    padding: 0 1em;
    display: inline-block;
    color: white;
    border: 1px solid lightgray;
    border-radius: 11px;
    background-color: lightgray;
    font-size: x-small;
}

#new_todo_title {
    width: 90%;
    font-size: large;
}

#new_todo_comment {
    width: 95%;
    margin-top: 0.5em;
}